</br>
<div class="row">
   <div class="col-md-8">
     <div class="media">
       <div class="media-body">
         <h2 class="media-heading">Hello <%= @user.name %>!</h2>
       </div>
     </div>
   </div>
 </div> 
 </div>

<br/>

<div class="col-md-10">
<h2>To-dos</h2>
<h4 class='js-comments-count'><%= @items.count %> Total</h4> 
  <div class='js-items'>
    <%= render partial: 'items/item', collection: @items %>
   </div>
   

  <div class='new-item'>
   <%= render partial: 'items/form', locals: { user:@user, item: @item} %>
  </div>
