<div class="jumbotron">
  <h1>ChipItOff</h1>

  <h2>Welcome to Chipitoff!</h2> 
    <p>The self destructing To Do List. Our motto is:
  <h3><em>Check it off, or we'll Chipitoff! </em></h3>
  </br>

      <p>
          <%= link_to "Sign In", new_user_session_path, class: 'btn btn-default' %> or
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-default' %> today!
      </p>
      <p>Join the movement! You'll quickly see your to-do list tamed and your productivity skyrocket.</p>
</div>